#topheader {
    height: 70px;
    background-color: #007fff;
  }
  
  #topicon i {
    position: relative;
    left: 90px;
    top: 4px;
    padding: 8px;
    color: white;
    font-size: 20px;
  }
  
  #timeandcall {
    width: 300px;
    height: 60px;
    top: 0px;
    position: relative;
    left: -200px;
  }
  
  #clockicon {
    color: white;
    font-size: 30px;
    font-weight: 200;
    position: relative;
    top: 13px;
    left: 2px;
  }
  
  #time {
    color: white;
    font-size: 13px;
    position: relative;
    top: -25px;
    left: 50px;
  }
  
  #time_1 {
    color: white;
    font-size: 18px;
    position: relative;
    top: -30px;
    left: 43px;
    font-weight: 100;
  }
  
  #vl {
    border-left: 1px solid white;
    height: 35px;
    position: relative;
    top: -75px;
    left: 205px;
  }
  
  #callicon {
    color: white;
    font-size: 30px;
    font-weight: 200;
    position: relative;
    top: -106px;
    left: 227px;
  }
  
  #call {
    /* background-color: black; */
    color: white;
    position: relative;
    top: -145px;
    left: 271px;
    font-size: 13px;
  }
  
  a {
    text-decoration: none;
  }
  
  #number {
    color: white;
    position: relative;
    top: -150px;
    left: 264px;
    font-weight: 100;
    font-size: 17px;
  }
  
  #logo {
    width: 200px;
    position: relative;
    left: 90px;
  }
  
  #navbar {
    height: 90px;
    background-color: white;
  
    width: 100%;
  }
  
  #navmanu li a {
    color: black;
    position: relative;
    left: 400px;
    font-size: 17px;
    font-weight: 400;
    margin: 3px;
  
  }
  
  #navmanu li a:hover {
    color: #007fff;
  }
  
  #navbtn {
    background-color: #007fff;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    width: 214px;
    font-weight: 700;
    position: relative;
    left: 0px;
    height: 40px;
  }
  
  #navbtn:hover {
    background-color: #5aa86c;
    border: 1px solid #5aa86c;
  }
  
  #dropdown {
    position: absolute;
    left: 509px;
    border-radius: 0px;
    width: 250px;
  }
  
  #dropdown li {
    position: relative;
    left: -500px;
  }
  #searchbtn {
    display: none;
  }
  #abouttext{
    position: relative;
    top: -200px;
    left: 100px;
    color: #fff;
  }  
  #abouthr{
    position: relative;
    width: 40px;
    height: 3px;
    background-color: #fff;
    top: -10px;
  }
#contact_1_col{
    height: 830px;
    position: relative;
    left: 15px;
    border: 1.5px solid #dadada;
}
#contact_2_col{
    height: 500px;
    position: relative;
    left: 20px;
}
#ul{
width: 1000px;
}
#contact_form li {
    position: relative;
    top: 10px;
    color: rgb(7, 7, 7);
  font-size: 20px;
  font-weight: 400;
}
#contact_form a {
   list-style: none;
    float: left;
    /* margin-left: 10px; */
    background-color: #f2f2f2;
    width: 219px;
    position: relative;
    left: -44px;
    height: 56px;
    text-align: center;
    top: -16px;
    border-top: 5px solid #007fff;
    border: none;
}
#contact_form a:hover {
     background-color: #ffffff;
     border-top: 3px solid #007fff;
 }
 #btn_contact{
    margin-top: 10px;
    background: #ff7a59;
    border-color: #ff7a59;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    height: 40px;
    width: 100px;
    font-family: arial, helvetica, sans-serif;
 }
 #callnum{
    position: relative;
    top: 70px;
    left: 30px;
 }
 #callus{
    font-style: normal;
    font-weight: 500;
    position: relative;
    top: 10px;
 }
 #number_call{
   position: relative;
   top: 30px;
   color:#929090 ;
   font-weight: 400;
   
 }
 #line_1{
    width: 30px;
    height: 2px;
    background-color: black;
    margin-left: 5px;
    position: relative;
   top: 15px;
 }
 #map{
    position: relative;
    top: 50px;
 }
 #footer{
    background-color: #2f2e2e;
    margin-top: 80px;
    height: 280px;
  }
  #footercol_1 {
    margin-top: 30px;
    margin-left:150px;
    width: 500px;
  }
  #footercol_1 h3{
  color: #fff;
  font-size: 20px;
  }
  #footercol_1 p{
   width: 400px;
   position: relative;
   top: 30px;
   color: #fff;
   font-weight: 400;
  }
  #footercol_2{
    margin-top: 30px;
    width: 600px;
  }
  #footermanu li{
    float: left;
    margin-left: 20px;
    list-style: none;
    padding-left: 10px;
  }
  #footermanu a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 60px;
    left: 20px;
  }
  #footerhr{
    background-color: #fff;
    position: relative;
  height: 3px;
  top: 40px;
  }
  #lastcopy{
    color: #fff;
    text-align: center;
    margin-top: 40px;
  }

  @media screen and (max-width:767px) {
    #topheader {
        height: 10px;
        background-color: #007fff;
        display: none;
    }
    #logo {
        width: 200px;
        position: relative;
        left: 6px;
    }
    #navbtn_2{
        position: relative;
        left: -10px;
    }
    #navmanu li a {
        color: black;
        position: relative;
        left: 1px;
        font-size: 20px;
        font-weight: 500;
        margin: 3px;
        top: 18px;
        text-align: center;
    }
    #navbtn {
        background-color: #007fff;
        color: white;
        font-size: 15px;
        border-radius: 30px;
        width: 130px;
        font-weight: 700;
        position: relative;
        left: -100px;
        display: none;
    }
    #searchbtn {
        display: inline;
        width: 239px;
        position: relative;
        left: 66px;
        top: 13px;
        font-size: 20px;
        font-weight: 500;
    }
    #navbar {
        height: auto;
        background-color: white;
        width: 100%;
    }
    #Acon_1 img {
        height: 283px;
    }
    #abouttext {
        position: relative;
        top: -200px;
        left: 0px;
        color: #fff;
    }
    #abouttext h1{
    font-size: 47px;
    margin-left: 22px;
    }
    #abouthr {
        position: relative;
        width: 40px;
        height: 3px;
        background-color: #fff;
        top: -10px;
        left: 21px;
    }
    #contact_form a {
        list-style: none;
        float: left;
        /* margin-left: 10px; */
        background-color: #f2f2f2;
        width: 125px;
        position: relative;
        left: -44px;
        height: 74px;
        text-align: center;
        top: -16px;
        border-top: 5px solid #007fff;
        border: none;
    }
    #contact_2_col {
        position: relative;
        top: -55px;
        left: -21px;
    }
    #ul {
        width: 35px;
        /* position: relative; */
        /* left: -10px; */
    }
    #contact_1_col {
        height: 1105px;
        position: relative;
        left: 3px;
        border: 1.5px solid #dadada;
    }
    #contact_form a {
        list-style: none;
        float: left;
        /* margin-left: 10px; */
        background-color: #f2f2f2;
        width: 373px;
        position: relative;
        left: -44px;
        height: 74px;
        text-align: center;
        top: -16px;
        border-top: 5px solid #007fff;
        border: none;
    }
    #footer {
        background-color: #2f2e2e;
        margin-top: 80px;
        height: 392px;
    }
    #footercol_1 p {
        width: 356px;
        position: relative;
        top: 30px;
        color: #fff;
        font-weight: 400;
    }
    #footercol_1 {
        margin-top: 30px;
        margin-left: 0px;
        width: 500px;
    }
    #footermanu a {
        color: #fff;
        font-size: 19px;
        font-weight: 500;
        position: relative;
        top: 9px;
        left: -26px;
    }

}

@media screen and (min-width:767px) and (max-width:1023px){
  #navbar {
      height: auto;
      background-color: white;
      width: 100%;
  }
  #navmanu li a {
      color: black;
      position: relative;
      left: 21px;
      font-size: 31px;
      font-weight: 400;
      margin: 3px;
      text-align: center;
  }
  #topheader {
      height: 70px;
      display: none;
      background-color: #007fff;
  }
  #logo {
      width: 276px;
      position: relative;
      left: -21px;
      height: 86px;
  }
  #navbtn {
      background-color: #007fff;
      color: white;
      font-size: 15px;
      border-radius: 30px;
      width: 214px;
      font-weight: 700;
      position: relative;
      left: 0px;
      height: 40px;
      display: none;
  }
  #searchbtn {
      display: inline;
              width: 500px;
      height: 50px;
      font-size: 20px;
      position: relative;
      left: 105px;
      border: 1px solid black;
  }
  #text {
      margin-top: -402px;
      width: 600px;
      color: white;
      margin-left: -31px;
      text-align: justify;
  }
  #Acon_1 img {
      height: 399px;
  }
  #abouttext {
      position: relative;
      top: -248px;
      left: 53px;
      color: #fff;
  }
  #abouttext h1{
      font-size: 74px;
  position: relative;
  top: -17px;
  }
  #abouthr {
      position: relative;
      width: 74px;
      height: 3px;
      background-color: #fff;
      top: -12px;
  }
  #ul {
      width: 736px;
  }
  #contact_1_col {
      height: 932px;
      position: relative;
      left: 15px;
      border: 1.5px solid #dadada;
  }
  #footer {
      background-color: #2f2e2e;
      margin-top: 80px;
      height: 283px;
  }
  #footercol_1 {
      margin-top: 30px;
      margin-left: 53px;
      width: 408px;
  }
  #footercol_2 {
      margin-top: -148px;
      width: 368px;
      margin-left: 363px;
  }
  #footercol_1 p {
      width: 356px;
      position: relative;
      top: 30px;
      color: #fff;
      font-weight: 400;
  }
}
@media screen and (min-width:1024px) and (max-width:1280px){
  #logo {
      width: 200px;
      position: relative;
      left: 58px;
  }
  #navbtn {
      background-color: #007fff;
      color: white;
      font-size: 13px;
      border-radius: 30px;
      width: 169px;
      font-weight: 700;
      position: relative;
      left: 34px;
      height: 40px;
  }
  #navmanu li a {
      color: black;
      position: relative;
      left: 142px;
      font-size: 15px;
      font-weight: 600;
      margin: 3px;
  }
  #Acon_1 img {
      height: 316px;
  }
  #abouttext {
      position: relative;
      top: -200px;
      left: 0px;
      color: #fff;
  }
  #abouthr {
      position: relative;
      width: 40px;
      height: 3px;
      background-color: #fff;
      top: -10px;
      left: 30px;
  }
  #contact_form a {
      list-style: none;
      float: left;
      /* margin-left: 10px; */
      background-color: #f2f2f2;
      width: 159px;
      position: relative;
      left: -44px;
      height: 76px;
      text-align: center;
      top: -16px;
      border-top: 5px solid #007fff;
      border: none;
  }
  #ul {
      width: 800px;
  }
  #footercol_1 {
      margin-top: 30px;
      margin-left: 53px;
      width: 406px;
  }
  #footercol_2 {
      margin-top: -127px;
      width: 600px;
      margin-left: 405px;
  }
}
  
  
 